<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Frances</key>
	<array>
		<dict>
			<key>name</key>
			<string>Paris Satin-Germain</string>
			<key>match</key>
			<integer>35</integer>
			<key>winner</key>
			<integer>28</integer>
			<key>draw</key>
			<integer>5</integer>
			<key>loser</key>
			<integer>2</integer>
			<key>points</key>
			<integer>89</integer>
			<key>imageName</key>
			<string>PSG</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lyon</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>18</integer>
			<key>draw</key>
			<integer>8</integer>
			<key>loser</key>
			<integer>10</integer>
			<key>points</key>
			<integer>62</integer>
			<key>imageName</key>
			<string>Lyon</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Mônaco</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>16</integer>
			<key>draw</key>
			<integer>14</integer>
			<key>loser</key>
			<integer>6</integer>
			<key>points</key>
			<integer>62</integer>
			<key>imageName</key>
			<string>Mônaco</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Saint-Étienne</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>17</integer>
			<key>draw</key>
			<integer>7</integer>
			<key>loser</key>
			<integer>12</integer>
			<key>points</key>
			<integer>58</integer>
			<key>imageName</key>
			<string>Saint-Etienne</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nice</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>16</integer>
			<key>draw</key>
			<integer>9</integer>
			<key>loser</key>
			<integer>11</integer>
			<key>points</key>
			<integer>57</integer>
			<key>imageName</key>
			<string>Nice</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lille</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>14</integer>
			<key>draw</key>
			<integer>14</integer>
			<key>loser</key>
			<integer>8</integer>
			<key>points</key>
			<integer>56</integer>
			<key>imageName</key>
			<string>Lille</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rennes</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>13</integer>
			<key>draw</key>
			<integer>13</integer>
			<key>loser</key>
			<integer>10</integer>
			<key>points</key>
			<integer>52</integer>
			<key>imageName</key>
			<string>Rennes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Angers</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>13</integer>
			<key>draw</key>
			<integer>11</integer>
			<key>loser</key>
			<integer>12</integer>
			<key>points</key>
			<integer>50</integer>
			<key>imageName</key>
			<string>Angers</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nantes</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>12</integer>
			<key>draw</key>
			<integer>12</integer>
			<key>loser</key>
			<integer>12</integer>
			<key>points</key>
			<integer>48</integer>
			<key>imageName</key>
			<string>Nantes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Caen</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>14</integer>
			<key>draw</key>
			<integer>6</integer>
			<key>loser</key>
			<integer>16</integer>
			<key>points</key>
			<integer>48</integer>
			<key>imageName</key>
			<string>Caen</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Montpellier</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>13</integer>
			<key>draw</key>
			<integer>7</integer>
			<key>loser</key>
			<integer>16</integer>
			<key>points</key>
			<integer>46</integer>
			<key>imageName</key>
			<string>Montpellier</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Bordeaux</string>
			<key>match</key>
			<integer>35</integer>
			<key>winner</key>
			<integer>11</integer>
			<key>draw</key>
			<integer>13</integer>
			<key>loser</key>
			<integer>11</integer>
			<key>points</key>
			<integer>46</integer>
			<key>imageName</key>
			<string>Bordeaux</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Olympique</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>9</integer>
			<key>draw</key>
			<integer>17</integer>
			<key>loser</key>
			<integer>10</integer>
			<key>points</key>
			<integer>44</integer>
			<key>imageName</key>
			<string>Olympique</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Batia</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>12</integer>
			<key>draw</key>
			<integer>8</integer>
			<key>loser</key>
			<integer>16</integer>
			<key>points</key>
			<integer>44</integer>
			<key>imageName</key>
			<string>Batia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Guingamp</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>11</integer>
			<key>draw</key>
			<integer>10</integer>
			<key>loser</key>
			<integer>15</integer>
			<key>points</key>
			<integer>43</integer>
			<key>imageName</key>
			<string>Guingamp</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Lorient-Bretagne Sud</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>10</integer>
			<key>draw</key>
			<integer>13</integer>
			<key>loser</key>
			<integer>13</integer>
			<key>points</key>
			<integer>43</integer>
			<key>imageName</key>
			<string>Lorient-BretagneSud</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gazélec Ajaccio</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>8</integer>
			<key>draw</key>
			<integer>13</integer>
			<key>loser</key>
			<integer>15</integer>
			<key>points</key>
			<integer>37</integer>
			<key>imageName</key>
			<string>Gazélec_Ajaccio</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reims</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>9</integer>
			<key>draw</key>
			<integer>9</integer>
			<key>loser</key>
			<integer>18</integer>
			<key>points</key>
			<integer>36</integer>
			<key>imageName</key>
			<string>Reims</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Toulouse</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>7</integer>
			<key>draw</key>
			<integer>13</integer>
			<key>loser</key>
			<integer>16</integer>
			<key>points</key>
			<integer>34</integer>
			<key>imageName</key>
			<string>Toulouse</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Troyes</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>3</integer>
			<key>draw</key>
			<integer>8</integer>
			<key>loser</key>
			<integer>25</integer>
			<key>points</key>
			<integer>17</integer>
			<key>imageName</key>
			<string>Troyes</string>
		</dict>
	</array>
	<key>Espanhol</key>
	<array>
		<dict>
			<key>name</key>
			<string>Barcelona</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>27</integer>
			<key>draw</key>
			<integer>4</integer>
			<key>loser</key>
			<integer>5</integer>
			<key>points</key>
			<integer>85</integer>
			<key>imageName</key>
			<string>Barcelona</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Atlético Madrid</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>27</integer>
			<key>draw</key>
			<integer>4</integer>
			<key>loser</key>
			<integer>5</integer>
			<key>points</key>
			<integer>85</integer>
			<key>imageName</key>
			<string>Atlético Madrid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Real Madrid</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>26</integer>
			<key>draw</key>
			<integer>6</integer>
			<key>loser</key>
			<integer>4</integer>
			<key>points</key>
			<integer>84</integer>
			<key>imageName</key>
			<string>Real Madrid</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Villarreal</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>18</integer>
			<key>draw</key>
			<integer>10</integer>
			<key>loser</key>
			<integer>8</integer>
			<key>points</key>
			<integer>64</integer>
			<key>imageName</key>
			<string>Villarreal</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Athletic</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>17</integer>
			<key>draw</key>
			<integer>7</integer>
			<key>loser</key>
			<integer>12</integer>
			<key>points</key>
			<integer>58</integer>
			<key>imageName</key>
			<string>Athletic</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Celta de Vigo</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>16</integer>
			<key>draw</key>
			<integer>9</integer>
			<key>loser</key>
			<integer>11</integer>
			<key>points</key>
			<integer>57</integer>
			<key>imageName</key>
			<string>Celta de Vigo</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sevilla</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>14</integer>
			<key>draw</key>
			<integer>10</integer>
			<key>loser</key>
			<integer>12</integer>
			<key>points</key>
			<integer>52</integer>
			<key>imageName</key>
			<string>Sevilla</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Málaga</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>11</integer>
			<key>draw</key>
			<integer>12</integer>
			<key>loser</key>
			<integer>13</integer>
			<key>points</key>
			<integer>45</integer>
			<key>imageName</key>
			<string>Málaga</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Valencia</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>11</integer>
			<key>draw</key>
			<integer>11</integer>
			<key>loser</key>
			<integer>14</integer>
			<key>points</key>
			<integer>44</integer>
			<key>imageName</key>
			<string>Valencia</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Las Palmas</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>12</integer>
			<key>draw</key>
			<integer>7</integer>
			<key>loser</key>
			<integer>17</integer>
			<key>points</key>
			<integer>43</integer>
			<key>imageName</key>
			<string>Las Palmas</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Real Sociedad</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>11</integer>
			<key>draw</key>
			<integer>9</integer>
			<key>loser</key>
			<integer>16</integer>
			<key>points</key>
			<integer>42</integer>
			<key>imageName</key>
			<string>Real Sociedad</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Sociedad Deportiva Eibar</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>11</integer>
			<key>draw</key>
			<integer>9</integer>
			<key>loser</key>
			<integer>16</integer>
			<key>points</key>
			<integer>42</integer>
			<key>imageName</key>
			<string>Sociedad Deportiva Eibar</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Real Betis Balompié</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>10</integer>
			<key>draw</key>
			<integer>11</integer>
			<key>loser</key>
			<integer>15</integer>
			<key>points</key>
			<integer>41</integer>
			<key>imageName</key>
			<string>Real Betis Balompié</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Reial Club Deportiu Espanyol de Barcelona</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>11</integer>
			<key>draw</key>
			<integer>7</integer>
			<key>loser</key>
			<integer>18</integer>
			<key>points</key>
			<integer>40</integer>
			<key>imageName</key>
			<string>Reial Club Deportiu Espanyol de Barcelona</string>
		</dict>
		<dict>
			<key>name</key>
			<string>La Coruña</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>7</integer>
			<key>draw</key>
			<integer>18</integer>
			<key>loser</key>
			<integer>11</integer>
			<key>points</key>
			<integer>39</integer>
			<key>imageName</key>
			<string>La Coruña</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Granada</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>9</integer>
			<key>draw</key>
			<integer>9</integer>
			<key>loser</key>
			<integer>18</integer>
			<key>points</key>
			<integer>36</integer>
			<key>imageName</key>
			<string>Granada</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rayo Vallecano</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>8</integer>
			<key>draw</key>
			<integer>11</integer>
			<key>loser</key>
			<integer>17</integer>
			<key>points</key>
			<integer>35</integer>
			<key>imageName</key>
			<string>Rayo Vallecano</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Gijón</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>9</integer>
			<key>draw</key>
			<integer>8</integer>
			<key>loser</key>
			<integer>19</integer>
			<key>points</key>
			<integer>35</integer>
			<key>imageName</key>
			<string>Gijón</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Getafe</string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>9</integer>
			<key>draw</key>
			<integer>8</integer>
			<key>loser</key>
			<integer>19</integer>
			<key>points</key>
			<integer>35</integer>
			<key>imageName</key>
			<string>Getafe</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Levante Unión Deportiva </string>
			<key>match</key>
			<integer>36</integer>
			<key>winner</key>
			<integer>7</integer>
			<key>draw</key>
			<integer>8</integer>
			<key>loser</key>
			<integer>21</integer>
			<key>points</key>
			<integer>29</integer>
			<key>imageName</key>
			<string>Levante Unión Deportiva </string>
		</dict>
	</array>
</dict>
</plist>
